<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Segitiga"
        tools:targetApi="31">
        <activity
            android:name=".LuasSegitigaSembarang2"
            android:exported="false" />
        <activity
            android:name=".LuasSegitigaSembarang1"
            android:exported="false" />
        <activity
            android:name=".KelilingSegitigaSembarang2"
            android:exported="false" />
        <activity
            android:name=".KelilingSegitigaSembarang1"
            android:exported="false" />
        <activity
            android:name=".Segitiga_Sembarang2"
            android:exported="false" />
        <activity
            android:name=".Segitiga_Sembarang1"
            android:exported="false" />
        <activity
            android:name=".LuasSegitigaSikuSiku"
            android:exported="false" />
        <activity
            android:name=".KelilingSegitigaSikuSiku"
            android:exported="false" />
        <activity
            android:name=".LuasSegitigaSamaSisi"
            android:exported="false" />
        <activity
            android:name=".KelilingSegitigaSamaSisi"
            android:exported="false" />
        <activity
            android:name=".Segitiga_Sembarang"
            android:exported="false" />
        <activity
            android:name=".Segitiga_Siku_Siku"
            android:exported="false" />
        <activity
            android:name=".Segitiga_Sama_Sisi"
            android:exported="false" />
        <activity
            android:name=".Segitiga_Sama_Kaki"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".KelilingSegitigaSamaKaki"
            android:exported="false" />
        <activity
            android:name=".LuasSegitigaSamaKaki"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>